@model SimpleStock.Models.Product

@{
    ViewData["Title"] = "Deletar";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza de que quer deletar este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
