@model SimpleStock.Models.Product

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-default">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
